
<div class="row">

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <li> <%= link_to 'Task Master',root_path,class:'navbar-brand', id:'logo' %></li>

    </div>

    <div id="navbar6" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li ><%= link_to 'Post Service',new_listing_path %></li>

        <% if user_signed_in? %>
            <li ><%= link_to 'My Account',edit_user_registration_path %></li>
            <li ><%= link_to 'Log Out',destroy_user_session_path,method: :delete %></li>
            <li ><%= link_to 'My Service',mylistings_path %></li>
            <%else %>
            <li ><%= link_to 'Sign In',new_user_session_path %></li>
            <li ><%= link_to 'Sign Up',new_user_registration_path %></li>
        <% end %>

        <li><a href="#"> How we work </a></li>



      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>

</div>